@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<html lang="tr">
    <head></head>
    <body>
        <p> 
            Hello world
        </p>
    </body>
</html>